body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f0f2f5; /* Color de fondo similar al de Facebook */
    color: #000; /* Color de texto negro */
}

h1 {
    color: #1877f2; /* Color de Facebook */
}

.container {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra similar a Facebook */
    background-color: #fff; /* Fondo blanco */
    color: #000; /* Color de texto negro */
    overflow-y: auto; /* Agrega desplazamiento vertical */
    padding: 20px; /* Espaciado interno del contenedor */
    border-radius: 8px; /* Borde redondeado */
    max-width: 1500px; /* Ancho máximo del contenedor */
    margin: 20px auto; /* Centrar el contenedor */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f0f2f5; /* Color de fondo de las cabeceras */
}

tr:nth-child(even) {
    background-color: #f9f9f9; /* Color de fondo de las filas pares */
}

tr:hover {
    background-color: #f1f1f1; /* Color de fondo al pasar el mouse sobre la fila */
}

/* Estilos para la barra de navegación */
nav {
    background-color: #1877f2; /* Color azul de Facebook */
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; /* Centrar elementos horizontalmente */
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #f0f2f5; /* Color de fondo de las cabeceras */
}

/* Estilos para las imágenes en la barra de navegación */
nav ul li img {
    width: 30px; /* Ancho de las imágenes */
    height: auto;
    vertical-align: middle; /* Alinear verticalmente al centro */
    margin-right: 5px; /* Espacio a la derecha de las imágenes */
}

/* Estilos para botón "Crear Nuevo Usuario" */
.btn-create-user {
    background-color: #1877f2;
    border-color: #1877f2;
    color: white; /* Color del texto */
    border-radius: 20px; /* Borde redondeado */
}

.btn-create-user:hover {
    background-color: #146ed4;
    border-color: #146ed4;
}

/* Estilos para botón "Ver" */
.btn-view {
    background-color: #4caf50;
    border-color: #4caf50;
    color: white; /* Color del texto */
    border-radius: 20px; /* Borde redondeado */
}

.btn-view:hover {
    background-color: #388e3c;
    border-color: #388e3c;
}

/* Estilos para botón "Editar" */
.btn-edit {
    background-color: #4267B2;
    border-color: #4267B2;
    color: white; /* Color del texto */
    border-radius: 20px; /* Borde redondeado */
}

.btn-edit:hover {
    background-color: #365899;
    border-color: #365899;
}

/* Estilos para botón "Eliminar" */
.btn-delete {
    background-color: #dc3545;
    border-color: #dc3545;
    color: white; /* Color del texto */
    border-radius: 20px; /* Borde redondeado */
}

.btn-delete:hover {
    background-color: #c82333;
    border-color: #c82333;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

.form-control {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.btn-primary {
    background-color: #1877f2;
    border-color: #1877f2;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    display: inline-block;
    margin-right: 10px; /* Espacio entre botones */
}

.btn-primary:hover {
    background-color: #146ed4;
    border-color: #146ed4;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    display: inline-block;
    margin-right: 10px; /* Espacio entre botones */
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #c82333;
}

.profile-photo {
    max-width: 200px; /* Ancho máximo de la imagen */
    height: auto; /* Altura automática para mantener la proporción */
    display: block; /* Para alinear la imagen correctamente */
    margin-top: 10px; /* Espaciado superior */
    border-radius: 8px; /* Borde redondeado */
}




/* public/css/app.css */

/* Estilo general del perfil */
.profile-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-info img {
    width: 200px; /* Ancho de la imagen del perfil */
    height: 200px; /* Altura de la imagen del perfil */
    border-radius: 50%; /* Borde redondeado para la imagen del perfil */
    margin-right: 20px; /* Espaciado a la derecha de la imagen */
}

.profile-details {
    flex: 1;
    font-size: 20px; /* Tamaño de fuente más grande */
    line-height: 1.5; /* Altura de línea para mejor legibilidad */
    margin-bottom: 10px; /* Espacio inferior entre párrafos */
}

.profile-details p {
    margin: 10px 0;
}

.btn-group {
    margin-top: 20px;
}

.btn-edit,
.btn-delete {
    margin-right: 10px;
}

.btn-primary {
    background-color: #1877f2;
    border-color: #1877f2;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    margin-right: 30px; /* Espacio entre botones */
}

.btn-primary:hover {
    background-color: #146ed4;
    border-color: #146ed4;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    margin-right: 30px; /* Espacio entre botones */
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #c82333;
}

.custom-btn {
    background-color: #57a70c;
    border-color: #57a70c;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    display: inline-block;
    margin-right: 30px; /* Espacio entre botones */
}

.custom-btn:hover {
    background-color: #57a70c;
    border-color: #57a70c;
}


/* Tu CSS principal */

.print-buttons {
    display: none;
    position: fixed;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 120px;
    width: 90%;
}

.print-buttons li {
    margin-bottom: 10px;
}

.print-buttons a {
    color: #1877f2;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.print-buttons a:hover {
    background-color: #aaa9a9;
}




/*Stiles for posts
/* En tu archivo CSS */
.post-info {
    display: flex;
    align-items: flex-start;
}

.profile-photo {
    width: 150px;
    height: 150px;
    margin-right: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-content {
    flex: 1;
}

.post-box {
    background-color: #f7f7f7; /* Color de fondo del cuadro de la publicación */
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.user-name {
    font-size: 18px;
    font-weight: bold;
}

.post-date {
    font-size: 12px;
    margin-right: 50px;
    color: #888;
    position: absolute;
    bottom: 3px;
    right: 3px;
}

.post-text {
    font-size: 16px;
    line-height: 1.5;
}
